.head{
    height: 100vh;
    width: 100%;
    
    /* added */
    background-image: url("../Images/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* .img{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
} */